@import 'pure-css/buttons/css/buttons.css';

.main-page {
  height: 100vh;
  width: 100vw;
}

.navigation-bar {
  width: 100%;
  height: 7%;
  button {
    height: 100%;
  }

  display: flex;
}

.navigation-actions {
  width: 50%;
}

.main-body {
  height: 93%;
}

.table {
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;

  thead tr th {
    position: sticky;
    z-index: 1;
    background-color: white;
  }

  thead tr:first-child th {
    top: 0;
  }
}

.table-data {
  height: 100%;
}

.ui-table-footer {
  display: grid;
  grid-template-columns: auto auto;
  // background-color: yellow;
  width: 100%;
  height: 10%;
  vertical-align: middle;
  text-align: center;
}

.dialog {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.dialog-header {
  height: 7%;
  text-align: right;
  button {
    height: 100%;
    width: 10%;
  }
  display: flex;
}
.dialog-body {
  height: 93%;
}
.dialog-tabs {
  width: 90%;
  height: 105%;
}

////
.div-table {
  width: 100%;
  // height: 100%;
  text-align: center;
  .q-slide-item__content {
    display: table-row;
  }
  .q-slide-item__left {
  }

  .odd-row {
    background-color: whitesmoke;
  }
  .even-row {
    background-color: lightgray;
  }

  .edit-mode-row {
    background-color: yellow;
  }

  .div-table-row {
    height: 7vh;
  }
}
.div-table-body {
  height: 5vh;
  div {
    padding: 0px;
    height: 100%;
  }
  .q-slide-item__left {
    background-color: red;
    div {
      width: 100%;
    }
  }

  .q-slide-item__right {
    background-color: greenyellow;
  }

  .q-slide-item__content {
    height: 10%;
  }
}

.div-table-header {
  position: sticky;
  top: 0px;
  height: 5vh;
  background-color: white;
  z-index: 99;
}

.row-delete-button {
  background-color: red;
  width: 100%;
  height: 100%;
}
.row-close-button {
  background-color: red;
  width: 100%;
  height: 100%;
}
.row-edit-button {
  background-color: greenyellow;
  width: 100%;
  height: 100%;
}
.div-table-body-cell,
.div-table-header-cell {
  vertical-align: middle;
}

.elapsed-time {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;

  // background-color: aqua;
}

.div-table-wrapper {
  height: 90%;
  overflow-y: scroll;
}

.add-record-button {
  height: 100%;
  width: 100%;
}

.graph-canvas {
  width: 100%;
}

.selected-row {
  background-color: blue;
}
